/* reset rules */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;    
    font-size: 14px;
}
/* header section of the page */
header{
    height: 32px;
    width: 100%;
    background-color: #1a1a1a;
    display: flex;
    justify-content: space-between;        
    color: white;
    align-items: center;
}
.view-container,
.recording-container{
    display: flex;
    align-items: center;
    margin: 0 7px;
}
.recording-container .shield{    
    padding: 2px 3px;
    color: #23d959;
}
.recording-container .circle{
    color: #aaaaaa;    
    margin-left: 5px;
    padding: 4px 7px;
}
.recording-container .circle,
.recording-container .shield{
    background-color: #101010;
    border-radius: 2px;
}
.recording-container .circle:hover{
    color: #ff5c5c;
}
.recording-container .circle::after{
    content: 'Recording...';
    display: inline-block;
    color: white;
}
.view-container{
    background-color:#212122 ;
    padding: 3px;
    border-radius: 2px;
    margin-top: 3px;
}
.view-container:hover{
    transform: scale(1.1);
}
.view-container div{
    padding: 2px 5px;
}
/* main section of the page */
main{
    height: calc(100vh - 92px);
    background-color: #1a1a1a;
    display: flex;
}
main i{
    font-size: 45px;
}
.col-left,
.col-center,
.col-right{
    height: 100%;
    display: flex;
}
.col-left,
.col-right{
    width: 13%;
    flex-direction: column;
    justify-content: center;
    color: #2db9ff;
}
.col-left{    
    align-items:flex-start;
}
.left-arrow{ 
    margin-left: 10px;
}
.fa-caret-left::after,
.fa-caret-right::after{
    content: '2/2';
    color: #aaabac;
    display: block;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
.right-arrow{
    margin-right:10px;
}
.left-arrow,
.right-arrow{    
    background-color: #0b0b0b; 
    background: linear-gradient(to top,rgb(0, 0, 0),rgba(103, 103, 103, 0.22));
    border-radius: 2px;
    padding: 5px 10px;
}
.left-arrow:hover,
.right-arrow:hover{
    transform: scale(1.1);
}
.col-center{
    width: 85%;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow-y: auto;
}
.user-window{
    position: relative;
    width: calc((100% / 5) - 6px);
    height: calc((100% / 5) - 6px);
    margin: 3px;
    background-color: darkkhaki; 
    overflow:hidden;
    border-radius: 6px;
}
.user-window img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}
.user-window .mic-box{
    position: absolute;
    bottom: 3px; 
    left: 5px; 
    background-color: rgba(00, 00, 00, 0.6); 
    padding: 1px 4px;
    border-radius: 6px;
}
.mic-box i{
    font-size: 15px;
    color: #ff5c5c;
}
.mic-box i::after{
    content: 'Username';
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 13px;
    font-weight: 200;
}
.col-right{    
    align-items:flex-end;
}
/* footer section of the page */
footer{
    height: 60px;
    background-color:#222426;
    background: linear-gradient(to top,rgb(0, 0, 0),rgba(0, 0, 0, 0.74));
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer ul{
    list-style: none;    
    display: flex;    
    align-items: center;
    justify-content: center
}
footer button{
    background-color: inherit;
    border: 0px;
    color: #aaabac;
}
.left-icons,
.right-icons,
.center-icons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.left-icons i,
.center-icons i{
    font-size: 20px;
}
.left-icons,
.right-icons{
    width: 14%;
    height: 100%;   
}
.left-icons ul li{
    padding: 0 10px;
}
.left-icons ul li:first-child{
    padding-left: 0px;
}
footer ul li{
    text-align: center;
    padding: 0 5px;
    position: relative;
}
i.fa-chevron-up{
    font-size: 10px;
    position: absolute;
    top: 0;
    right:3px;
}
.center-icons{
    width: 60%;    
    height: 100%;
}
.center-icons ul li{
    padding: 0 20px;
}
.center-icons ul li span{
    position: absolute;
    top: 0;
    font-size: 10px;
}
.green-formatting{
    color: #23d959;    
}
.right-icons{
    justify-content: flex-end;
    margin-right: 20px;
}
.end-btn{
    background-color: #e02828;
    padding: 5px 30px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
footer ul li:hover {
    transform: scale(1.1);
}
footer .end-btn:hover {
    transform: scale(1.1);
}